$bg-color: #fff;
$second-bg-color: #fdfdfd;
$thirth-bg-color: #fefefe;
$fourth-bg-color: #f8f8f8;
$primary-color: #7f67ce;
$heading-color: #0b132a;
$paragraph-color: #4f5665;
$second-color: #ffecec;
$border-color: #eeeff2;
$second-border-color: #dddddd;
